:root{
    --site-primary: #001a33;
    --site-secondary: #0F76C3;
    --site-tertiary: #208d82;
    --text-primary: white;
    --text-secondary:silver;
}

@media screen and (min-height: 892px) {
    .mobile-link {
        display: none;
    }

    /* General styles */
    h1 {
        font-size: 2rem;
        color: var(--text-primary);
    }
    h2 {
        font-size: 1.2rem;
        color: var(--text-primary);
    }

    /* Intro section styles */
    #intro-container {
        display: grid;
        position: static;
        grid-template-columns: 1fr 7fr;
        grid-template-rows: 12fr 1fr;
        opacity: 1;
        grid-template-areas: "nav-container profile-container"
        "nav-container down-arrow";
        height: 100vh;
        max-height: 100vh;
        transition: all 0.5s ease-out;
        z-index: 5;
    } 

    #profile-container {
        grid-area: profile-container;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-left: 10%;
        padding-top: 2%;
        transition: opacity 1s, transform 0.5s;
    }

    #profile-pic-wrapper{
        position: relative;
        width:17rem;
        height:17rem;
        max-width: 25rem;
        margin-left: 5%;
        border: 2px solid var(--site-secondary);
        border-radius: 50%;
        display: flex;
        justify-content: center;
    }

    #profile-pic-wrapper:after {
        content: "";
        display: block;
        padding-right: 100%;
    }

    #profile-info-wrapper{
        background-color: rgba(0, 0, 0, 0.7);
        margin: 1rem;
        padding: 1rem;
        width: 50%;
        width: 75%;
        display: flex;
        flex-direction: column;
        justify-content: start;
    }

    #intro-container.hide > #profile-container {
        opacity: 0;
        transform: translateX(500px);
    }

    #lastname {
        color: var(--site-secondary);
    }

    #intro-bio{
        font-size: 1.5rem;
        color: var(--text-secondary);
    }

    #intro-img {
        height:25vh;
        width:25vh;
        border-radius: 50%;
        border: 3px solid var(--site-secondary);
    }

    #nav-container {
        grid-area: nav-container;
        display: flex;
        flex-direction: column;
        justify-content: center;
        opacity: 1;
        align-items: end;
        background-color: black;
        border-left: 3px solid var(--site-primary);
        z-index: 10;
        transition: opacity 1s, transform 0.5s;
    }

    #intro-container.hide > #nav-container {
        transform: translateX(-500px);
        opacity: 0;
    }

    #nav-container ul {
        padding-right: 2rem;
    }

    #nav-container > ul > li {
        text-decoration: none;
        list-style-type: none;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
    }

    #nav-container a > span {
        font-size: 1.5rem;
        transition: 0.5s;
    }

    #nav-container a > i {
        font-size: 3rem;
        transition: 0.5s;
    }

    #down-arrow {
        grid-area: down-arrow;
        display: grid;
        grid-template-columns: 7fr 1fr;
        grid-template-areas: "arrow filler";
        cursor: pointer;
        font-size: 2rem;
        padding-bottom: 0;
        padding-left: 15%;
        color: var(--text-primary);
    }

    #down-arrow > i {
        position: absolute;
        right: 49%;
        transition: .5s;
        grid-area: arrow;
    }

    #down-arrow > div {
        background-color: black;
        border-left: 3px solid var(--site-primary);
        grid-area: filler;
    }

    #down-arrow:hover > i {
        color:var(--site-secondary);
        transform: translateY(1rem);
    }

    #sticky-header {
        display: flex;
        position: fixed;
        top: 0;
        justify-content: space-between;
        align-items: center;
        height: 9vh;
        width: 100vw;
        padding-left: 5%;
        background-color: black;
        border-bottom: 2px solid var(--site-primary);
        opacity: 0;
        transform: translateY(-100px);
        transition: transform 0.5s, opacity 1s;
        z-index: 3;
    }

    /* Sticky header styles */
    #sticky-nav {
        display: flex;
        align-items: center;
    }

    #sticky-header ul {
        flex-direction: row;
        justify-content: end;
        align-items: center;
        gap: 3rem;
        padding-right: 10%;
        width: 100%;
    }

    #nav-collapse {
        display: none;
    }
    
    #sticky-header > a#home{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        gap: 1rem;
        text-decoration: none;
    }

    #sticky-header > a#home > i{
        font-size: 1.7rem;
        display: block;
        color: var(--site-secondary);
        transition: 0.5s;
    }

    #sticky-header > a#home > div{
        cursor: pointer;
        border: 2px solid var(--site-secondary); 
        border-radius: 50%;
        height: 5vh;
        width: 5vh;
        vertical-align: middle;
        transition: 0.5s;
    }

    #sticky-header > a#home > div > div{
        border-radius: 50%;
        height: 5vh;
        width: 5vh;
        background-image: url('images/profilepic.jpg');
        background-size: cover;
        opacity: 1;
        transition: 0.5s;
    }

    #sticky-header > a#home:hover > i{
        color: var(--site-secondary);
        transform: translateX(-70%);
    }

    #sticky-header > a#home:hover > div{
        transform: translateX(70%);
        border-color: var(--site-secondary);
    }

    #sticky-header > a#home:hover > div > div{
        opacity: 0;
    }

    #sticky-nav li > a > span {
        opacity: 0;
        transition: 0.5s;
        font-size: 1.2rem;
        text-decoration: none;
        border-bottom: 1px solid black;
    }

    #sticky-nav li > a > i {
        opacity: 0;
        transition: 0.5s;
        font-size: 1.6rem;
    }


    #sticky-nav a.current > span {
        color: var(--site-secondary);
        border-color: var(--site-secondary);
    }

    #sticky-header.show {
        opacity: 1;
        transform: translateY(0);
    }

    #sticky-nav li > a.show > span {
        opacity: 1;
    }

    #sticky-nav li > a.show > i {
        opacity: 1;
        cursor: pointer;
    }

    #sticky-header li {
        list-style-type: none;
    }

    /* Nav link general styles */
    nav > ul {
        text-align: right;
    }

    nav > ul > li > a {
        color: var(--text-primary);
        text-decoration: none;
    }

    nav a:hover {
        color:var(--site-secondary);
    }
    

    /* Experience section styles */
    #project-img-container {
        display: flex;
        justify-content: center;
        gap: 1rem;
    }

    /* Services section styles */
    #services-list{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 80%;
    }

    .service-img {
        max-height: 10vh;
        max-width: 10vw;
    }

    .service-details {
        font-size: 1.2rem;
        color: var(--text-secondary)
    }

    .service-block {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 33%;
        margin-bottom: 1.5rem;
    }

    .service-block > p {
        color: var(--text-secondary);
    }

    .service-title {
        text-align: center;
        font-size: 2rem;
    }

    .service-desc {
        font-size: 1.3rem;
    }

    /* Contact section styles */
    #contact-form {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        gap: 1rem;
        align-items: center;
        width: 30%;
    }

    #contact-form * {
        border: 1px solid var(--text-primary);
        max-width: 100%;
        display: block;
        height: 2.5vh;
        width: 100%;
        padding: .5rem;
        transition: 0.2s;
        border-radius: 5px;
    }

    #contact-form *:focus {
        border: 2px solid var(--site-secondary);
        transform: scale(1.03);
    }

    #contact-form textarea {
        height: 30vh;
    }

    #contact-form button {
        height: 5vh;
        transform: scale(1.03);
        background-color: black;
        color: white;
        font-size: 1rem;
        font-weight: 700;
        transition: all 0.3s;
        cursor: pointer;
    }

    #contact-form button:hover {
        transform: scale(1.07);
        background-color:black;
        border-color: var(--site-secondary);
        color: var(--site-secondary);
    }

    #contact-row-sec {
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: row;
    }

    #contact-row-sec * {
        padding: 0;
        margin: 0;
    }

    #contact-info {
        display: flex;
        flex-direction: column;
        width: 100%;
        font-size: 2rem;
        gap: 1rem;
        justify-content: center;
        align-items: center;
    }

    .contact-type {
        display: flex;
        flex-direction: row;
        justify-content: left;
        gap: 1rem;
    }

    .contact-type > .contact-title {
        color: var(--site-secondary);

    }

    .contact-type > span {
        color: var(--text-secondary);

    }

    .contact-type > .contact-content {
        color: var(--text-primary);
    }

    #intro-img {
        text-align: center;
    }
}



@media screen and (min-width: 1160px) {

    /* General styles */
    h1 {
        font-size: 2rem;
        color: var(--text-primary);
    }
    h2 {
        font-size: 1.2rem;
        color: var(--text-primary);
    }

    .blurb{
        font-size: 1.5rem;
        text-align: center;
        color: var(--text-secondary);
    }

    /* Intro section styles */
    #intro-container {
        display: grid;
        position: static;
        grid-template-columns: 1fr 7fr;
        grid-template-rows: 12fr 1fr;
        opacity: 1;
        grid-template-areas: "nav-container profile-container"
        "nav-container down-arrow";
        height: 100vh;
        max-height: 100vh;
        transition: all 0.5s ease-out;
        z-index: 5;
    } 

    #profile-container {
        grid-area: profile-container;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        padding-left: 10%;
        padding-top: 5%;
        transition: opacity 1s, transform 0.5s;
    }

    #profile-pic-wrapper{
        position: relative;
        width:17rem;
        height:17rem;
        max-width: 25rem;
        margin-left: 5%;
        border: 2px solid var(--site-secondary);
        border-radius: 50%;
        display: flex;
        justify-content: center;
    }

    #profile-pic-wrapper:after {
        content: "";
        display: block;
        padding-right: 100%;
    }

    #profile-info-wrapper{
        background-color: rgba(0, 0, 0, 0.7);
        margin: 1rem;
        padding: 1rem;
        width: 50%;
        width: 75%;
        display: flex;
        flex-direction: column;
        justify-content: start;
    }

    #intro-container.hide > #profile-container {
        opacity: 0;
        transform: translateX(500px);
    }

    #lastname {
        color: var(--site-secondary);
    }

    #intro-bio{
        font-size: 1.2rem;
        color: var(--text-secondary);
    }

    #intro-img {
        height:25vh;
        width:25vh;
        border-radius: 50%;
        border: 3px solid var(--site-secondary);
    }

    #nav-container {
        grid-area: nav-container;
        display: flex;
        flex-direction: column;
        justify-content: center;
        opacity: 1;
        align-items: end;
        background-color: black;
        border-left: 3px solid var(--site-primary);
        z-index: 10;
        transition: opacity 1s, transform 0.5s;
    }

    #intro-container.hide > #nav-container {
        transform: translateX(-500px);
        opacity: 0;
    }

    #nav-container ul {
        padding-right: 2rem;
    }

    #nav-container > ul > li {
        text-decoration: none;
        list-style-type: none;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
    }

    #nav-container a > span {
        font-size: 1.5rem;
        transition: 0.5s;
    }

    #nav-container a > i {
        font-size: 3rem;
        transition: 0.5s;
    }

    #down-arrow {
        grid-area: down-arrow;
        display: grid;
        grid-template-columns: 7fr 1fr;
        grid-template-areas: "arrow filler";
        cursor: pointer;
        font-size: 2rem;
        padding-bottom: 0;
        padding-left: 15%;
        color: var(--text-primary);
    }

    #down-arrow > i {
        position: absolute;
        right: 49%;
        transition: .5s;
        grid-area: arrow;
    }

    #down-arrow > div {
        background-color: black;
        border-left: 3px solid var(--site-primary);
        grid-area: filler;
    }

    #down-arrow:hover > i {
        color:var(--site-secondary);
        transform: translateY(1rem);
    }

    #sticky-header {
        display: flex;
        position: fixed;
        top: 0;
        justify-content: space-between;
        align-items: center;
        height: 9vh;
        width: 100vw;
        padding-left: 5%;
        background-color: black;
        border-bottom: 2px solid var(--site-primary);
        opacity: 0;
        transform: translateY(-100px);
        transition: transform 0.5s, opacity 1s;
        z-index: 3;
    }

    /* Sticky header styles */
    #sticky-nav {
        display: flex;
        align-items: center;
    }

    #sticky-header ul {
        flex-direction: row;
        justify-content: end;
        align-items: center;
        gap: 3rem;
        padding-right: 10%;
        width: 100%;
    }

    #nav-collapse {
        display: none;
    }
    
    #sticky-header > a#home{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        gap: 1rem;
        text-decoration: none;
    }

    #sticky-header > a#home > i{
        font-size: 1.7rem;
        display: block;
        color: var(--site-secondary);
        transition: 0.5s;
    }

    #sticky-header > a#home > div{
        cursor: pointer;
        border: 2px solid var(--site-secondary); 
        border-radius: 50%;
        height: 5vh;
        width: 5vh;
        vertical-align: middle;
        transition: 0.5s;
    }

    #sticky-header > a#home > div > div{
        border-radius: 50%;
        height: 5vh;
        width: 5vh;
        background-image: url('images/profilepic.jpg');
        background-size: cover;
        opacity: 1;
        transition: 0.5s;
    }

    #sticky-header > a#home:hover > i{
        color: var(--site-secondary);
        transform: translateX(-40%);
    }

    #sticky-header > a#home:hover > div{
        transform: translateX(40%);
        border-color: var(--site-secondary);
    }

    #sticky-header > a#home:hover > div > div{
        opacity: 0;
    }

    #sticky-nav li > a > span {
        opacity: 0;
        transition: 0.5s;
        font-size: 1.2rem;
        text-decoration: none;
        border-bottom: 1px solid black;
    }

    #sticky-nav li > a > i {
        opacity: 0;
        transition: 0.5s;
        font-size: 1.6rem;
    }


    #sticky-nav a.current > span {
        color: var(--site-secondary);
        border-color: var(--site-secondary);
    }

    #sticky-header.show {
        opacity: 1;
        transform: translateY(0);
    }

    #sticky-nav li > a.show > span {
        opacity: 1;
    }

    #sticky-nav li > a.show > i {
        opacity: 1;
        cursor: pointer;
    }

    #sticky-header li {
        list-style-type: none;
    }

    /* Nav link general styles */
    nav > ul {
        text-align: right;
    }

    nav > ul > li > a {
        color: var(--text-primary);
        text-decoration: none;
    }

    nav a:hover {
        color:var(--site-secondary);
    }

       /* General Section Styles */
       .section-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        height: 100vh;
        padding-top: 10vh;
        width: 100%;
    }

    /* Experience section styles */
    .experience-jumbotron{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 80%;
        margin-bottom: 1rem;
        background-color: rgba(0, 0, 0, 0.8);
        padding: 2%;
    }

    /* Services section styles */
    #services-list{
        display: flex;
        justify-content: center;
        width: 80%;
    }

    .service-img {
        max-height: 10vh;
        max-width: 10vw;
    }

    .service-details {
        font-size: 1.2rem;
        color: var(--text-secondary)
    }

    .service-title {
        text-align: center;
        font-size: 2rem;
    }

    .service-desc {
        font-size: 1.3rem;
    }

    /* Contact section styles */
    #contact-form {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        gap: 1rem;
        align-items: center;
        width: 30%;
    }

    #contact-form * {
        border: 1px solid var(--text-primary);
        max-width: 100%;
        display: block;
        height: 2.5vh;
        width: 100%;
        padding: .5rem;
        transition: 0.2s;
        border-radius: 5px;
    }

    #contact-form *:focus {
        border: 2px solid var(--site-secondary);
        transform: scale(1.03);
    }

    #contact-form textarea {
        height: 30vh;
    }

    #contact-form button {
        height: 5vh;
        transform: scale(1.03);
        background-color: black;
        color: white;
        font-size: 1rem;
        font-weight: 700;
        transition: all 0.3s;
        cursor: pointer;
    }

    #contact-form button:hover {
        transform: scale(1.07);
        background-color:black;
        border-color: var(--site-secondary);
        color: var(--site-secondary);
    }

    #contact-row-sec {
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: row;
    }

    #contact-row-sec * {
        padding: 0;
        margin: 0;
    }

    #contact-info {
        display: flex;
        flex-direction: column;
        width: 100%;
        font-size: 2rem;
        gap: 1rem;
        justify-content: center;
        align-items: center;
    }

    .contact-type {
        display: flex;
        flex-direction: row;
        justify-content: left;
        gap: 1rem;
    }

    .contact-type > .contact-title {
        color: var(--site-secondary);

    }

    .contact-type > span {
        color: var(--text-secondary);

    }

    .contact-type > .contact-content {
        color: var(--text-primary);
    }

    #intro-img {
        text-align: center;
    }
}

@media screen and (min-width: 1160px) and (min-height: 892px) {
    /* General styles */
    h1 {
        font-size: 3rem;
        color: var(--text-primary);
    }
    h2 {
        font-size: 2rem;
        color: var(--text-primary);
    }

    .blurb{
        font-size: 1.5rem;
        text-align: center;
        color: var(--text-secondary);
    }

    /* Intro section styles */
    #intro-container {
        display: grid;
        position: static;
        grid-template-columns: 1fr 7fr;
        grid-template-rows: 12fr 1fr;
        opacity: 1;
        grid-template-areas: "nav-container profile-container"
        "nav-container down-arrow";
        height: 100vh;
        max-height: 100vh;
        transition: all 0.5s ease-out;
        z-index: 5;
    } 

    #profile-container {
        grid-area: profile-container;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-left: 10%;
        padding-top: 5%;
        transition: opacity 1s, transform 0.5s;
    }

    #profile-pic-wrapper{
        position: relative;
        width:17rem;
        height:17rem;
        max-width: 25rem;
        margin-left: 5%;
        border: 2px solid var(--site-secondary);
        border-radius: 50%;
        display: flex;
        justify-content: center;
    }

    #profile-pic-wrapper:after {
        content: "";
        display: block;
        padding-right: 100%;
    }

    #profile-info-wrapper{
        background-color: rgba(0, 0, 0, 0.7);
        margin: 2rem;
        padding: 2rem;
        width: 50%;
        width: 75%;
        display: flex;
        flex-direction: column;
        justify-content: start;
    }

    #intro-container.hide > #profile-container {
        opacity: 0;
        transform: translateX(500px);
    }

    #lastname {
        color: var(--site-secondary);
    }

    #intro-bio{
        font-size: 1.5rem;
        color: var(--text-secondary);
    }

    #intro-img {
        height:25vh;
        width:25vh;
        border-radius: 50%;
        border: 3px solid var(--site-secondary);
    }

    #nav-container {
        grid-area: nav-container;
        display: flex;
        flex-direction: column;
        justify-content: center;
        opacity: 1;
        align-items: end;
        background-color: black;
        border-left: 3px solid var(--site-primary);
        z-index: 10;
        transition: opacity 1s, transform 0.5s;
    }

    #intro-container.hide > #nav-container {
        transform: translateX(-500px);
        opacity: 0;
    }

    #nav-container ul {
        padding-right: 2rem;
    }

    #nav-container > ul > li {
        text-decoration: none;
        list-style-type: none;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
    }

    #nav-container a > span {
        font-size: 1.5rem;
        transition: 0.5s;
    }

    #nav-container a > i {
        font-size: 3rem;
        transition: 0.5s;
    }

    #down-arrow {
        grid-area: down-arrow;
        display: grid;
        grid-template-columns: 7fr 1fr;
        grid-template-areas: "arrow filler";
        cursor: pointer;
        font-size: 2rem;
        padding-bottom: 0;
        padding-left: 15%;
        color: var(--text-primary);
    }

    #down-arrow > i {
        position: absolute;
        right: 49%;
        transition: .5s;
        grid-area: arrow;
    }

    #down-arrow > div {
        background-color: black;
        border-left: 3px solid var(--site-primary);
        grid-area: filler;
    }

    #down-arrow:hover > i {
        color:var(--site-secondary);
        transform: translateY(1rem);
    }

    #sticky-header {
        display: flex;
        position: fixed;
        top: 0;
        justify-content: space-between;
        align-items: center;
        height: 9vh;
        width: 100vw;
        padding-left: 5%;
        background-color: black;
        border-bottom: 2px solid var(--site-primary);
        opacity: 0;
        transform: translateY(-100px);
        transition: transform 0.5s, opacity 1s;
        z-index: 3;
    }

    /* Sticky header styles */
    #sticky-nav {
        display: flex;
        align-items: center;
    }

    #sticky-header ul {
        flex-direction: row;
        justify-content: end;
        align-items: center;
        gap: 3rem;
        padding-right: 10%;
        width: 100%;
    }

    #nav-collapse {
        display: none;
    }
    
    #sticky-header > a#home{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        gap: 1rem;
        text-decoration: none;
    }

    #sticky-header > a#home > i{
        font-size: 1.7rem;
        display: block;
        color: var(--site-secondary);
        transition: 0.5s;
    }

    #sticky-header > a#home > div{
        cursor: pointer;
        border: 2px solid var(--site-secondary); 
        border-radius: 50%;
        height: 5vh;
        width: 5vh;
        vertical-align: middle;
        transition: 0.5s;
    }

    #sticky-header > a#home > div > div{
        border-radius: 50%;
        height: 5vh;
        width: 5vh;
        background-image: url('images/profilepic.jpg');
        background-size: cover;
        opacity: 1;
        transition: 0.5s;
    }

    #sticky-header > a#home:hover > i{
        color: var(--site-secondary);
        transform: translateX(-70%);
    }

    #sticky-header > a#home:hover > div{
        transform: translateX(70%);
        border-color: var(--site-secondary);
    }

    #sticky-header > a#home:hover > div > div{
        opacity: 0;
    }

    #sticky-nav li > a > span {
        opacity: 0;
        transition: 0.5s;
        font-size: 1.2rem;
        text-decoration: none;
        border-bottom: 1px solid black;
    }

    #sticky-nav li > a > i {
        opacity: 0;
        transition: 0.5s;
        font-size: 1.6rem;
    }


    #sticky-nav a.current > span {
        color: var(--site-secondary);
        border-color: var(--site-secondary);
    }

    #sticky-header.show {
        opacity: 1;
        transform: translateY(0);
    }

    #sticky-nav li > a.show > span {
        opacity: 1;
    }

    #sticky-nav li > a.show > i {
        opacity: 1;
        cursor: pointer;
    }

    #sticky-header li {
        list-style-type: none;
    }

    /* Nav link general styles */
    nav > ul {
        text-align: right;
    }

    nav > ul > li > a {
        color: var(--text-primary);
        text-decoration: none;
    }

    nav a:hover {
        color:var(--site-secondary);
    }

    /* Experience section styles */
    .experience-jumbotron{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 80%;
        margin-bottom: 1rem;
        background-color: rgba(0, 0, 0, 0.8);
        padding: 2%;
    }

    #project-img-container {
        display: flex;
        justify-content: center;
        gap: 1rem;
    }

    /* Services section styles */
    #services-list{
        display: flex;
        justify-content: center;
        width: 80%;
    }

    .service-img {
        max-height: 10vh;
        max-width: 10vw;
    }

    .service-details {
        font-size: 1.2rem;
        color: var(--text-secondary)
    }

    .service-title {
        text-align: center;
        font-size: 2rem;
    }

    .service-desc {
        font-size: 1.3rem;
    }

    /* Contact section styles */
    #contact-form {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        gap: 1rem;
        align-items: center;
        width: 30%;
    }

    #contact-form * {
        border: 1px solid var(--text-primary);
        max-width: 100%;
        display: block;
        height: 2.5vh;
        width: 100%;
        padding: .5rem;
        transition: 0.2s;
        border-radius: 5px;
    }

    #contact-form *:focus {
        border: 2px solid var(--site-secondary);
        transform: scale(1.03);
    }

    #contact-form textarea {
        height: 30vh;
    }

    #contact-form button {
        height: 5vh;
        transform: scale(1.03);
        background-color: black;
        color: white;
        font-size: 1rem;
        font-weight: 700;
        transition: all 0.3s;
        cursor: pointer;
    }

    #contact-form button:hover {
        transform: scale(1.07);
        background-color:black;
        border-color: var(--site-secondary);
        color: var(--site-secondary);
    }

    #contact-row-sec {
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: row;
    }

    #contact-row-sec * {
        padding: 0;
        margin: 0;
    }

    #contact-info {
        display: flex;
        flex-direction: column;
        width: 100%;
        font-size: 2rem;
        gap: 1rem;
        justify-content: center;
        align-items: center;
    }

    .contact-type {
        display: flex;
        flex-direction: row;
        justify-content: left;
        gap: 1rem;
    }

    .contact-type > .contact-title {
        color: var(--site-secondary);

    }

    .contact-type > span {
        color: var(--text-secondary);

    }

    .contact-type > .contact-content {
        color: var(--text-primary);
    }

    #intro-img {
        text-align: center;
    }
}






